@model ConferencePortal.Models.SearchViewModel

@{
    int AdultsCount = 1;
}

<input type="hidden" name="AdultCount" id="AdultCount" value="0" />

<ul class="booking-list">
    @foreach (Excursion items in Model._excursion)
    {
        <li>
                <div class="row">
                    <div class="col-md-3">
                        <img src="@items.ExcursionImage" alt="Image Alternative text" title="@items.ExcursionName">
                    </div>
                    <div class="col-md-6">
                        <h5 class="booking-item-title">@items.ExcursionName</h5>
                        <p class="booking-item-address"><i class="fa fa-times-circle"></i> Tour Starting At @items.StartTime - @items.EndTime </p> 
                        <p class="booking-item-address"><i class="fa fa-times-circle"></i> Tour Type : @items.TourType </p> <br />
                        <p class="booking-item-description">@items.ShortDescription </p>
                    </div>
                    <div class="col-md-3">

                        <span class="booking-item-price">
                            @items.Price @items.Currency.Currency1
                        </span>

                        <div class="form-group form-group-select-plus">
                            <label>Adults</label>
                            <select name="AdultsSelect" id="@items.ExcursionsID" class="form-control" style="width:66px;" onchange="drpOnchange(@items.ExcursionsID)">
                                @for (int i = 0; i < 6; i++)
                                {
                                    <option>@i</option>
                                }
                            </select>
                        </div>                       


                        @*<a href="#" onclick="AddtoCartFunc(@items.ExcursionsID, @items.Price)" aria-controls="@items.ExcursionsID">*@
                            <input type="button" onclick="AddtoCartFunc(@items.ExcursionsID, @items.Price)" aria-controls="@items.ExcursionsID" class="btn btn-primary" value="Book Now" />
                        @*</a>*@                        
                    </div>
                </div>
        </li>
        <hr style="border-color:#e27513;" />
    }
</ul>

<div id="notifications"></div>

@Html.Script(    
    @<script>
       function AddtoCartFunc(Excursion, Rate) {
           var AdultCount = document.getElementById("AdultCount").value;
           if (AdultCount == 0) {
               //$.notify("Please Enter at Least One Adult", { position: "right bottom", className: 'error' ,style: 'bootstrap' });
               //Notify("Please Enter at Least One Adult", "danger");
               alertify.error('Please Enter at Least One Adult');
           }
           else {
               window.location.href = '@Url.Action("AddtoCart", "Reservation")?ItemType=EX' + '&ItemID=' + Excursion + '&Rate=' + Rate + '&Count=' + AdultCount;
           }
       }
    </script>
)

@Html.Script(
    @<script>
        function drpOnchange(countVal) {
            debugger;
            var x = document.getElementById(countVal).value;
            $("#AdultCount").val(x);
        }
    </script>
    )

@section scriptLocation{
    <script src="~/js/Alertify/alertify.min.js"></script>
}

