@model ConferencePortal.Models.SearchViewModel

@{ 
    int RoomCount = 1;

    double rate = 0.0;
}


@*@using (Html.BeginForm("AddtoCart", "Reservation", FormMethod.Post))
{*@

<input type="hidden" name="roomCount" id="roomCount" value="1" />

<ul class="booking-list">
    @foreach (Room items in Model._room)
    {
        <li>
            @*<a class="booking-item">*@
                <div class="row">
                    <div class="col-md-3">
                        <img src="@items.RoomImage" alt="Image Alternative text" title="hotel 1" />
                    </div>
                    <div class="col-md-6">
                        <h5 class="booking-item-title">@items.RoomName</h5>
                        <p class="text-small">Pretium consequat odio ultrices nisi elementum imperdiet sem nulla feugiat mauris dui nunc</p>
                        <ul class="booking-item-features booking-item-features-sign clearfix">
                            <li rel="tooltip" data-placement="top" title="Adults Occupancy">
                                <i class="fa fa-male"></i><span class="booking-item-feature-sign">x 2</span>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Beds">
                                <i class="im im-bed"></i><span class="booking-item-feature-sign">x 2</span>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Room footage (square feet)">
                                <i class="im im-width"></i><span class="booking-item-feature-sign">330</span>
                            </li>
                        </ul>
                        <ul class="booking-item-features booking-item-features-small clearfix">
                            <li rel="tooltip" data-placement="top" title="Bathtub">
                                <i class="im im-bathtub"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Kitchen">
                                <i class="im im-kitchen"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Soundproof">
                                <i class="im im-soundproof"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Terrace">
                                <i class="im im-terrace"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Washing Machine">
                                <i class="im im-washing-machine"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <span class="booking-item-price"> 
                        
                        @{ 
                            rate = (double)Model._roomAllotment.Where(w => w.RoomID == items.RoomID).Sum(w=>w.RoomRate.Rate) / Model._roomAllotment.Where(w => w.RoomID == items.RoomID).Count();
                        }


                            @rate @items.Currency.Currency1 
                       
                        </span><span>Night/Rooms</span>
                        
                        <br />

                        <div class="form-group form-group-select-plus" style="padding-top:10px;">
                            <select name="test" id="@items.RoomID" class="form-control" style="width:66px;" onchange="myFunction(@items.RoomID)">                                
                                @for (int i = 0; i < Model._roomAllotment.Where(w => w.RoomID == items.RoomID).Min(w => w.AvailableRooms); i++)
                                {
                                    <option>@RoomCount</option>

                                    {
                                        RoomCount++;
                                    }
                                }
                                
                                @{ 
                                    RoomCount = 1;
                                }
                            </select>

                            <div style="padding-top: 10px;">
                                <a href="#" onclick="AddtoCartFunc(@items.RoomID, @rate)" aria-controls="@items.RoomID">
                                    <input type="button" class="btn btn-primary" value="Book Now" style="padding-top:10px;" />
                                </a>
                            </div>
        </div>
                    </div>
                </div>
            @*</a>*@
        </li>
        <hr style="border-color:#e27513;" />
    }
</ul>

@Html.Script(
    @<script>
       function myFunction(a) {
    var x = document.getElementById(a).value;
    $("#roomCount").val(x);
       }

       function AddtoCartFunc(RoomID, RoomRate)
       {
           var RoomCount = document.getElementById("roomCount").value;
           window.location.href = '@Url.Action("AddtoCart", "Reservation")?ItemType=AC' + '&ItemID=' + RoomID + '&Rate=' + RoomRate + '&Count=' + RoomCount;
       }
    </script>
)


