@{ 
    List<Room> rm = ViewBag.Rooms;

    IEnumerable<Room> rooms = rm;
}


@*@using (Html.BeginForm("AddtoCart", "Reservation", FormMethod.Post))
{*@

<ul class="booking-list">
    @foreach (var items in rooms)
    {
        <li>
            @*<a class="booking-item">*@
                <div class="row">
                    <div class="col-md-3">
                        <img src="@items.RoomImage" alt="Image Alternative text" title="hotel 1" />
                    </div>
                    <div class="col-md-6">
                        <h5 class="booking-item-title">@items.RoomName</h5>
                        <p class="text-small">Pretium consequat odio ultrices nisi elementum imperdiet sem nulla feugiat mauris dui nunc</p>
                        <ul class="booking-item-features booking-item-features-sign clearfix">
                            <li rel="tooltip" data-placement="top" title="Adults Occupancy">
                                <i class="fa fa-male"></i><span class="booking-item-feature-sign">x 2</span>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Beds">
                                <i class="im im-bed"></i><span class="booking-item-feature-sign">x 2</span>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Room footage (square feet)">
                                <i class="im im-width"></i><span class="booking-item-feature-sign">330</span>
                            </li>
                        </ul>
                        <ul class="booking-item-features booking-item-features-small clearfix">
                            <li rel="tooltip" data-placement="top" title="Bathtub">
                                <i class="im im-bathtub"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Kitchen">
                                <i class="im im-kitchen"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Soundproof">
                                <i class="im im-soundproof"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Terrace">
                                <i class="im im-terrace"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Washing Machine">
                                <i class="im im-washing-machine"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <span class="booking-item-price">@items.Currency.Currency1 </span><span>/night</span>

                        <br />

                        <div class="form-group form-group-select-plus">
            <label>Rooms</label>
            <div class="btn-group btn-group-select-num" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="options" />1
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" />2
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" />3
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" />3+
                </label>
            </div>
            <select class="form-control hidden">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option selected="selected">4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
            </select>

                            <a href="@Url.Action("AddtoCart", "Reservation", new { RoomId = items.RoomID }, null)" aria-controls="@items.RoomID">
                                <input type="button" class="btn btn-primary" value="Add to Cart" />
                            </a>
        </div>
                    </div>
                </div>
            @*</a>*@
        </li>
    }
</ul>
@*}*@


@section scriptLocation{


}


