
@{
    ViewBag.Title = "Index";

    IEnumerable<Room> rooms = null;
    IEnumerable<RoomAllotment> allotment = null;

    var prod = ViewData["RoomList"];

    if (ViewBag.Rooms != null)
    {
        rooms = ViewBag.Rooms;
        allotment = ViewBag.Allotments;
    }

    IEnumerable<Transport> transport = null;

    if (ViewBag.Transport != null)
    {
        transport = ViewBag.Transport;
    }

    List<Hotel> hotels = ViewBag.Hotels;
    List<Configuration> Configurations = ViewBag.Configurations;

    string HotelDescription = "";
}

<div class="global-wrap">
    <div class="top-area show-onload" style="height:800px">
        <div class="bg-holder full">
            <div class="bg-mask"></div>
            <div class="bg-parallax" style=""></div>
            <div class="bg-content">
                <div class="container">
                    <div class="row">

                        <div class="col-md-8">
                            <div class="search-tabs search-tabs-bg mt50">
                                @foreach (var config in Configurations)
                                {
                                    <div class="tabbable" id="ttt">
                                        <ul class="nav nav-tabs" id="myTab">
                                            @if (config.AccommodationRequired == "Y")
                                            {
                                                <li class="active">
                                                    <a href="#tab-1" data-toggle="tab"><i class="fa fa-building-o"></i> <span>Conference Hotels</span></a>
                                                </li>
                                            }

                                            @if (config.TransportRequired == "Y")
                                            {
                                                if (config.AccommodationRequired == "N")
                                                {
                                                    <li class="active">
                                                        <a href="#tab-4" data-toggle="tab"><i class="fa fa-car"></i> <span>Tranfers</span></a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="#tab-4" data-toggle="tab"><i class="fa fa-car"></i> <span>Tranfers</span></a>
                                                    </li>
                                                }
                                            }
                                            @if (config.ExcursionRequired == "Y")
                                            {
                                                if (config.AccommodationRequired == "N" && config.AccommodationRequired == "N")
                                                {
                                                    <li class="active">
                                                        <a href="#tab-5" data-toggle="tab"><i class="fa fa-bolt"></i> <span>Excursions</span></a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="#tab-5" data-toggle="tab"><i class="fa fa-bolt"></i> <span>Excursions</span></a>
                                                    </li>
                                                }
                                            }
                                        </ul>

                                        <div class="tab-content">
                                            @if (config.AccommodationRequired == "Y")
                                            {
                                                <div class="tab-pane fade in active" id="tab-1">

                                                    @Html.Partial("_RoomSearchView", hotels)

                                                </div>
                                            }

                                            @if (config.TransportRequired == "Y")
                                            {

                                                <div class="tab-pane fade" id="tab-4">

                                                    @*@Html.Partial("_TransportSearchView", ViewBag.Arrival as SelectList)*@

                                                    @Html.Partial("_TransportSearchView", transport)

                                                </div>

                                            }
                                            @if (config.ExcursionRequired == "Y")
                                            {

                                                <div class="tab-pane fade" id="tab-5">

                                                    @Html.Partial("_ExcursionSearchView", hotels)
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="gap gap-small"></div>


<div class="container">
    @foreach (var config in Configurations)
    {
        <div class="row row-wrap" data-gutter="60">
            <div class="col-md-9">

                @{
                    if (rooms != null && config.AccommodationRequired == "Y")
                    {
                        @Html.Partial("_RoomView", new { rooms, allotment });
                    }
                }
            </div>


            <div class="col-md-3">
                @if (rooms != null && config.AccommodationRequired == "Y")
                {
                    <h4>About the Hotel</h4>
                    <p class="mb30">

                        @foreach (Room items in rooms)
                        {
                        HotelDescription = items.Hotel.ShortDescription;
                        break;
                        }
                        @HotelDescription

                    </p>
                }

                <h4>Hotel Facilities</h4>
                <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                    <li>
                        <i class="im im-wi-fi"></i><span class="booking-item-feature-title">Wi-Fi Internet</span>
                    </li>
                    <li>
                        <i class="im im-parking"></i><span class="booking-item-feature-title">Parking</span>
                    </li>
                    <li>
                        <i class="im im-plane"></i><span class="booking-item-feature-title">Airport Transport</span>
                    </li>
                    <li>
                        <i class="im im-bus"></i><span class="booking-item-feature-title">Shuttle Bus Service</span>
                    </li>
                    <li>
                        <i class="im im-fitness"></i><span class="booking-item-feature-title">Fitness Center</span>
                    </li>
                    <li>
                        <i class="im im-pool"></i><span class="booking-item-feature-title">Pool</span>
                    </li>
                    <li>
                        <i class="im im-spa"></i><span class="booking-item-feature-title">SPA</span>
                    </li>
                    <li>
                        <i class="im im-restaurant"></i><span class="booking-item-feature-title">Restaurant</span>
                    </li>
                    <li>
                        <i class="im im-wheel-chair"></i><span class="booking-item-feature-title">Wheelchair Access</span>
                    </li>
                    <li>
                        <i class="im im-business-person"></i><span class="booking-item-feature-title">Business Center</span>
                    </li>
                    <li>
                        <i class="im im-children"></i><span class="booking-item-feature-title">Children Activites</span>
                    </li>
                    <li>
                        <i class="im im-casino"></i><span class="booking-item-feature-title">Casino & Gambling</span>
                    </li>
                    <li>
                        <i class="im im-bar"></i><span class="booking-item-feature-title">Bar/Lounge</span>
                    </li>
                </ul>
            </div>




        </div>

                    }
    <div class="gap gap-small"></div>
</div>



@*<div class="container">
        <div class="booking-item-details">
            <div class="gap"></div>
            <h3>Available Rooms</h3>

    @using (Html.BeginForm("SearchHotel", "Reservation", FormMethod.Post))
    {
            <div class="row">
                <div class="col-md-11">
                    <div class="booking-item-dates-change">
                        <form>
                            <div class="row">
                                <div class="col-sm-3">

                                    <div class="form-group form-group-select-plus">
                                        <label>Hotel</label>
                                        <select name="HotelList" id="HotelList" class="form-control">
                                            @foreach (var hotel in hotels)
                                            {
                                                <option value="@hotel.HotelID">@hotel.HotelName</option>

                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-daterange" data-date-format="MM d, D">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-group-icon-left">
                                                    <i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                    <label>Check in</label>
                                                    <input class="form-control" name="start" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-group-icon-left">
                                                    <i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                    <label>Check out</label>
                                                    <input class="form-control" name="end" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-group-select-plus">
                                        <label>Adults</label>
                                        <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                            <label class="btn btn-primary active">
                                                <input type="radio" name="options" />1
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="options" />2
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="options" />3
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="options" />3+
                                            </label>
                                        </div>
                                        <select class="form-control hidden">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option selected="selected">4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <input type="submit" class="btn btn-primary" value="Search" name="Search" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    }
            <div class="row">

                <div class="col-md-8">
                    <div class="gap gap-small"></div>

                    @{
                        if (rooms != null)
                        {
                            @Html.Partial("_RoomView", rm);
                        }
                    }

                </div>

                <div class="col-md-4">
                    <div class="gap gap-small"></div>
                    <h4>Hotel Facilities</h4>
                    <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                        <li>
                            <i class="im im-wi-fi"></i><span class="booking-item-feature-title">Wi-Fi Internet</span>
                        </li>
                        <li>
                            <i class="im im-parking"></i><span class="booking-item-feature-title">Parking</span>
                        </li>
                        <li>
                            <i class="im im-plane"></i><span class="booking-item-feature-title">Airport Transport</span>
                        </li>
                        <li>
                            <i class="im im-bus"></i><span class="booking-item-feature-title">Shuttle Bus Service</span>
                        </li>
                        <li>
                            <i class="im im-fitness"></i><span class="booking-item-feature-title">Fitness Center</span>
                        </li>
                        <li>
                            <i class="im im-pool"></i><span class="booking-item-feature-title">Pool</span>
                        </li>
                        <li>
                            <i class="im im-spa"></i><span class="booking-item-feature-title">SPA</span>
                        </li>
                        <li>
                            <i class="im im-restaurant"></i><span class="booking-item-feature-title">Restaurant</span>
                        </li>
                        <li>
                            <i class="im im-wheel-chair"></i><span class="booking-item-feature-title">Wheelchair Access</span>
                        </li>
                        <li>
                            <i class="im im-business-person"></i><span class="booking-item-feature-title">Business Center</span>
                        </li>
                        <li>
                            <i class="im im-children"></i><span class="booking-item-feature-title">Children Activites</span>
                        </li>
                        <li>
                            <i class="im im-casino"></i><span class="booking-item-feature-title">Casino & Gambling</span>
                        </li>
                        <li>
                            <i class="im im-bar"></i><span class="booking-item-feature-title">Bar/Lounge</span>
                        </li>
                    </ul>
                </div>

            </div>
            <h3 class="mb20">Hotel Reviews</h3>

        </div>
        <div class="gap gap-small"></div>
    </div>*@








@section scriptLocation{
<script type="text/javascript">  
    var succeed = "";
   
          
    function myFunction(a) {
        var x = document.getElementById(a).value;
        $("#roomCount").val(x);       
    }


    $('input:radio[name="myRadios"]').change(function () {
        if ($(this).val() == '1') {            
            $('#Pickup').val("BIA");
            $("#Pickup").attr("disabled", true);
            $("#DropOff").attr("disabled", false);
            $('#DropOff').val("");

            $("#Pickup").val("BIA");         
            
        }
        else if($(this).val() == '2')
        {
            $("#DropOff").val("BIA");
            //$('#DropOff').val("Bandaranayake Internation Airport");
            $("#DropOff").attr("disabled", true);
            $("#Pickup").attr("disabled", false);
            $('#Pickup').val("");

            $("#DropOff").val("BIA");
        }
        else
        {

        }
    });
    
</script>
}
