<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Convention Portal : Walkerstours</title>

    <!-- GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css">
    <!-- /GOOGLE FONTS -->


    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/icomoon.css" rel="stylesheet" />
    <link href="~/css/mystyles.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="~/js/modernizr.js"></script>
</head>
<body>
    <div class="global-wrap">
        <header id="main-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="logo" href="index.html">
                                <img src="~/img/walkers-tours-logo.png" alt="Image Alternative text" title="Image Title" />
                            </a>
                        </div>
                        @Html.Partial("_HeaderView")
                    </div>
                </div>
            </div>
        </header>






        @*<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav"></ul>
                    </div>
                </div>
            </div>*@

        @*<div class="container body-content">*@
        @RenderBody()

        <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-3">
                        <a class="logo" href="index.html">
                            <img src="img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                        <p class="mb20">Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more!</p>
                        <ul class="list list-horizontal list-space">
                            <li>
                                <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                        </ul>
                    </div>



                    <div class="col-md-footer">
                        <h4>Have Questions?</h4>
                        <h4 class="text-color">+1-202-555-0173</h4>
                        <h4><a href="#" class="text-color">support@traveler.com</a></h4>
                        <p>24/7 Dedicated Customer Support</p>
                    </div>

                </div>
            </div>
        </footer>

    </div>

        @*<footer>
            <p>&copy; @DateTime.Now.Year - Convention Portal</p>
        </footer>*@
    @*</div>*@

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/slimmenu.js"></script>
    <script src="~/js/nicescroll.js"></script>


    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/slimmenu.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/bootstrap-timepicker.js"></script>
    <script src="~/js/nicescroll.js"></script>
    <script src="~/js/dropit.js"></script>
    <script src="~/js/ionrangeslider.js"></script>
    <script src="~/js/icheck.js"></script>
    <script src="~/js/fotorama.js"></script>
    <script src="~/https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="~/js/typeahead.js"></script>
    <script src="~/js/card-payment.js"></script>
    <script src="~/js/magnific.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/fitvids.js"></script>
    <script src="~/js/tweet.js"></script>
    <script src="~/js/countdown.js"></script>
    <script src="~/js/gridrotator.js"></script>
    <script src="~/js/custom.js"></script>


    @RenderSection("scriptLocation", false)
    @Html.RenderScripts()
</body>
</html>